<header class="header">
  <h1>Pokemos</h1>
</header>
<div class="row">
  <div class="col-sm-3">
    <div class="busqueda">
      <input type="text" [(ngModel)]="pokemonSearch" placeholder="Buscar por Id">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" (click)="searchOne()">
        <path
          d="M39.8 41.95 26.65 28.8Q25.15 30.1 23.15 30.825Q21.15 31.55 18.9 31.55Q13.5 31.55 9.75 27.8Q6 24.05 6 18.75Q6 13.45 9.75 9.7Q13.5 5.95 18.85 5.95Q24.15 5.95 27.875 9.7Q31.6 13.45 31.6 18.75Q31.6 20.9 30.9 22.9Q30.2 24.9 28.8 26.65L42 39.75ZM18.85 28.55Q22.9 28.55 25.75 25.675Q28.6 22.8 28.6 18.75Q28.6 14.7 25.75 11.825Q22.9 8.95 18.85 8.95Q14.75 8.95 11.875 11.825Q9 14.7 9 18.75Q9 22.8 11.875 25.675Q14.75 28.55 18.85 28.55Z" />
      </svg>
    </div>
  </div>
  <div class="col-sm-7"></div>
  <div class="col-sm-2">
    <button class="btnGeneral" (click)="newPokemon()"><span>Nuevo</span></button>
  </div>
</div>
<br>
<div class="nuevo" *ngIf="showNew">
  <h2 class="titulo">Nuevo Pokemon</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6" style="text-align: right;">
          <span>Nombre:</span>
        </div>
        <div class="col-sm-6">
          <input type="text" style="padding: 0px 10px;" [(ngModel)]="pokemon.name">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6" style="text-align: right;">
          <span>Ataque:</span>
        </div>
        <div class="col-sm-6">
          <input type="range" [(ngModel)]="pokemon.attack">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6" style="text-align: right;">
          <span>Imagen:</span>
        </div>
        <div class="col-sm-6">
          <input type="text" style="padding: 0px 10px;" [(ngModel)]="pokemon.image">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6" style="text-align: right;">
          <span>Defensa:</span>
        </div>
        <div class="col-sm-6">
          <input type="range" [(ngModel)]="pokemon.defense">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="buttons">
    <button class="btnGeneral" (click)="save()" *ngIf="!showEdit"><span>Guardar</span></button>
    <button class="btnGeneral" (click)="saveEdit()" *ngIf="showEdit"><span>Guardar Edición</span></button>
    <button class="btnGeneral" (click)="cancel()"><span>Cancelar</span></button>
  </div>
</div>
<div class="container">
  <table class="table tablepokemon">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Vida</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let pokemon of listPokemos">
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.name}}</td>
      <td><img [src]="pokemon.image == null ? '../assets/img/no_img.jpg' : pokemon.image" class="imgPokemon"></td>
      <td>{{pokemon.attack}}</td>
      <td>{{pokemon.defense}}</td>
      <td>{{pokemon.hp}}</td>
      <td>

        <span (click)="editPokemon(pokemon)">
          <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
            height="40px" viewBox="0 0 24 24" width="40px" fill="#F18C24">
            <g>
              <rect fill="none" height="24" width="24" />
            </g>
            <g>
              <g>
                <polygon points="15,16 11,20 21,20 21,16" />
                <path
                  d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z" />
                <path
                  d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z" />
              </g>
            </g>
          </svg>
        </span>

        <span (click)="deletePokemon(pokemon.id)">
          <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24"
            width="40px" fill="#E51A1A">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z" />
          </svg>
        </span>
      </td>
    </tr>
  </table>
</div>