/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.titulo{
    text-align: center;
    margin: 10px 0;
}

.btnGeneral{
    width: auto;
    height: auto;
    background-color: #0084ffee;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 0 10px;
}

.btnGeneral span{
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}

.btnGeneral:hover{
    background-color: #0084ff8f;
}

.busqueda{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.busqueda input{
    display: block;
    width: 60%;
    height: auto;
    padding: 0 10px;
}

.busqueda svg{
    display: block;
    width: 20%;
}

.container{
    width: 96%;
    margin: 0 auto;
    padding: 20px;
}

.tablepokemon th{
    background-color: #0084ff8f;
    padding: 10px;
    text-align: center;
}

.tablepokemon td{
    background-color: #0084ff44;
    padding: 10px;
    text-align: center;
}

.imgPokemon{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.nuevo{
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.svgButtons{
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #000000;
}